.Order {
  left: 0;
  margin-left: 70px;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
  position: absolute;
  right: 0;
  height: 100%;
  overflow: hidden; }
  .Order .row {
    margin: 0; }
    .Order .row > div {
      padding: 0; }
  .Order .order-view {
    background-color: #16a085;
    height: 100%;
    position: absolute;
    width: 100%;
    padding-top: 15px;
    overflow: auto; }
  .Order .panel {
    transition: all 0.5s cubic-bezier(.5, -0.005, 0.2, 1) !important;
    -webkit-transition: all 0.5s cubic-bezier(.5, -0.005, 0.2, 1) !important;
    color: #fff; }
    .Order .panel > .row {
      margin: 15px; }
  .Order #yourElement video {
    width: 300px; }
  .Order #yourElement canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px; }
  .Order .bar-code {
    margin-top: 100px; }
    .Order .bar-code #input-addon {
      visibility: hidden; }
    .Order .bar-code #interactive {
      position: relative;
      overflow: auto;
      height: 250px; }
      .Order .bar-code #interactive .imgBuffer {
        width: 100%; }
      .Order .bar-code #interactive .drawingBuffer {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0; }
  .Order .order-hint {
    margin-top: 30px; }
  .Order .grid-row .header {
    background-color: #107360;
    color: white;
    font-size: 1.5em;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
  .Order .grid-row .grid {
    width: 100%; }
    .Order .grid-row .grid .header-th-group {
      padding: 0; }
    .Order .grid-row .grid .header-th {
      background-color: #0a463a; }
    .Order .grid-row .grid .header-ref {
      border-bottom-left-radius: 5px; }
    .Order .grid-row .grid .header-qtt {
      border-bottom-right-radius: 5px; }
    .Order .grid-row .grid .product-item {
      background-color: #0d5d4d;
      border-radius: 20px;
      margin-top: 5px; }
      .Order .grid-row .grid .product-item .product-columns {
        height: 40px;
        padding-top: 10px; }
        .Order .grid-row .grid .product-item .product-columns:last-child {
          padding-top: 0;
          font-size: 25px;
          border-radius: 20px;
          background-color: rgba(255, 0, 0, 0.5); }
