.item.ng-move, .item.ng-enter, .item.ng-leave {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s; }

.item.ng-leave.ng-leave-active, .item.ng-move, .item.ng-enter {
  opacity: 0; }

.item.ng-leave, .item.ng-move.ng-move-active, .item.ng-enter.ng-enter-active {
  opacity: 1; }

body {
  background-color: #2c3338;
  color: #606468;
  transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) !important;
  -webkit-transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) !important; }
